@import "seattletimes";

header {
  text-align: center;

  .chatter {
    margin: auto;
    max-width: 600px;
    text-align: left;
  }
}

main {
  max-width: 800px;
  margin: auto;
}

.timeline {
  max-width: 500px;
  margin: auto;

  .event {
    margin: 40px;
    border: 1px solid @df-light-gray;
    padding: 20px;
  }
}