@import "seattletimes";

header {
  text-align: center;

  .chatter {
    margin: auto;
    max-width: 600px;
    text-align: left;
  }
}

main {
  max-width: 800px;
  margin: auto;
}

.timeline {
  margin: 200px auto;

  .photo {
    float: right;
    position: relative;
    max-width: 50%;
    margin-left: 10px;
  }

  h2 {
    margin-top: 0;
  }

  .event {
    margin-top: 10vh;
    border-top: 3px solid @df-blue;
    padding: 20px;
    background: white;
    overflow: hidden;

    &.small {
      background: @df-blue;
      padding: 10px;
      border-top: none;
      @step: 6px;
      @width: 2px;
      @stripe: fade(white, 30%);
      background-image: 
        repeating-linear-gradient(
          -45deg,
          transparent,
          transparent @step,
          @stripe @step,
          @stripe (@step + @width),
          transparent (@step + @width)
        ),
        linear-gradient(to bottom, @df-blue, lighten(desaturate(@df-blue, 40%), 10%));

      h2 {
        color: white;
        margin: 0;
        text-align: center;
        font-style: italic;
      }
    }
  }

}

.fans {
  position: relative;
  max-width: 700px;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: opacity .2s linear;

  &.hidden {
    opacity: 0;
  }

  .meter {
    background: @df-blue;
    color: white;
    text-transform: uppercase;
    padding: 8px;
    font-family: @df-sans;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;

    &.show {
      display: block;
    }
  }

  [data-fan="1"] {
    position: static;
  }
}

footer {
  clear: both;
}